body{
    background-color: gray;
}

#img-bethoven{
    height: 400px;
    width: 50%;
    margin-bottom: 80px;
    margin-top: 80px;
    transition: 0.5s;
    filter: grayscale(1);
}

#img-bethoven:hover 
{
    height: 500px;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
    filter: grayscale(0);
}

#img-partitura
{
    width: 100%;
    height: 500px;
    margin-top: 80px;
}
